.user-png{
    width: 30px;
    height: 30px;
}
.navbar-brand{
    color:blue;
    font-size: 25px;
    font-weight: bold;
}
.btn-nav{
    background-color: blue;
    color: white !important;
    border-radius: 5px;
    font-weight: bold;
}
@media (max-width: 576px) {
    .btn-nav {
      background-color: white;
      color:black !important;
      font-weight :400;
    }
    .small{
        border-bottom: 1px solid;
    }
  }